button {
  all: unset;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

button.primary {
  width: 100%;
  background-color: var(--secondary-color);
  height: 40px;
  padding: 0px 20px 0px 20px;
  border-radius: 4px;
  text-align: center;
}

button.primary:hover {
  background-color: var(--secondary-hover-color);
}

button.primary:active {
  background-color: var(--secondary-color);
  transform: translateY(1px);
}
